[build-system]
requires = ["flit_core >=3.4,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "oteapi-optimade"
authors = [
    {name = "Casper Welzel Andersen", email = "casper.w.andersen@sintef.no"},
]
description = "OTE-API Plugin for OPTIMADE."
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    # "Framework :: OTE-API",
    "Environment :: Plugins",
    "Natural Language :: English",
    "Operating System :: OS Independent",
]
keywords = ["OTE", "OPTIMADE", "OTE-API"]
requires-python = "~=3.9"
dynamic = ["version"]

dependencies = [
    "optimade[server] ~=0.18",
    "oteapi-core ~=0.1",
    "requests ~=2.28",
]

[project.optional-dependencies]
doc = [
    "mike ~=1.1",
    "mkdocs ~=1.3",
    "mkdocs-awesome-pages-plugin ~=2.7",
    "mkdocs-material ~=8.3",
    "mkdocstrings[python] ~=0.19.0",
]
test = [
    "pytest ~=7.1",
    "pytest-cov ~=3.0",
    "pyyaml ~=6.0",
    "requests-mock ~=1.9",
]
pre-commit = [
    "pre-commit ~=2.19",
    "pylint ~=2.14",
]
dev = [
    "mike ~=1.1",
    "mkdocs ~=1.3",
    "mkdocs-awesome-pages-plugin ~=2.7",
    "mkdocs-material ~=8.3",
    "mkdocstrings[python] ~=0.19.0",
    "otelib ~=0.1",
    "pre-commit ~=2.19",
    "pylint ~=2.14",
    "pytest ~=7.1",
    "pytest-cov ~=3.0",
    "pyyaml ~=6.0",
    "requests-mock ~=1.9",
    "tomlkit ~=0.11.0",
]

[project.urls]
Home = "https://github.com/SINTEF/oteapi-optimade"
Documentation = "https://SINTEF.github.io/oteapi-optimade"
Source = "https://github.com/SINTEF/oteapi-optimade"
"Issue Tracker" = "https://github.com/SINTEF/oteapi-optimade/issues"
Changelog = "https://github.com/SINTEF/oteapi-optimade/blob/main/CHANGELOG.md"
Package = "https://pypi.org/project/oteapi-optimade"

[project.entry-points."oteapi.download"]
[project.entry-points."oteapi.filter"]
"oteapi_optimade.optimade" = "oteapi_optimade.strategies.filter:OPTIMADEFilterStrategy"
"oteapi_optimade.OPTIMADE" = "oteapi_optimade.strategies.filter:OPTIMADEFilterStrategy"
"oteapi_optimade.OPTiMaDe" = "oteapi_optimade.strategies.filter:OPTIMADEFilterStrategy"
[project.entry-points."oteapi.function"]
[project.entry-points."oteapi.mapping"]
[project.entry-points."oteapi.parse"]
"oteapi_optimade.application/vnd.optimade+json" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTIMADE+json" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTiMaDe+json" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.optimade+JSON" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTIMADE+JSON" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTiMaDe+JSON" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.optimade" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTIMADE" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
"oteapi_optimade.application/vnd.OPTiMaDe" = "oteapi_optimade.strategies.parse:OPTIMADEParseStrategy"
[project.entry-points."oteapi.resource"]
"oteapi_optimade.optimade" = "oteapi_optimade.strategies.resource:OPTIMADEResourceStrategy"
"oteapi_optimade.OPTIMADE" = "oteapi_optimade.strategies.resource:OPTIMADEResourceStrategy"
"oteapi_optimade.OPTiMaDe" = "oteapi_optimade.strategies.resource:OPTIMADEResourceStrategy"

[project.entry-points."oteapi.transformation"]

[tool.flit.module]
name = "oteapi_optimade"

[tool.mypy]
python_version = "3.9"
ignore_missing_imports = true
scripts_are_modules = true
warn_unused_configs = true
show_error_codes = true
allow_redefinition = true
plugins = ["pydantic.mypy"]

[tool.pylint.messages_control]
max-line-length = 90
disable = [
    "duplicate-code",
    "no-name-in-module",
    "too-few-public-methods",
    "no-self-argument"
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-rs --cov=oteapi_optimade --cov-report=term --durations=10"
filterwarnings = [
    "ignore:.*imp module.*:DeprecationWarning",
    "ignore:.*_yaml extension module.*:DeprecationWarning"
]
