name: CD - Publish

on:
  release:
    types:
    - published

jobs:
  publish-package-and-docs:
    name: Call external workflow
    uses: CasperWA/gh-actions/.github/workflows/cd_release.yml@main
    if: github.repository == 'SINTEF/oteapi-optimade' && startsWith(github.ref, 'refs/tags/v')
    with:
      package_dir: oteapi_optimade
      git_username: "TEAM 4.0[bot]"
      git_email: "Team4.0@SINTEF.no"
      release_branch: main
      install_extras: "[dev]"
      python_version: "3.9"
      update_docs: true
      doc_extras: "[doc]"
      build_cmd: "pip install -U flit && flit build"
      test: true
    secrets:
      PyPI_token: ${{ secrets.TESTPYPI_TOKEN }}
      release_PAT: ${{ secrets.RELEASE_PAT }}
